/* Reset & Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #006400; /* Dark green */
    color: #fff;
}
 /* Logo */
.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    height: 70px;
    width: 50px;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Navigation Menu */
.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    position: relative;
    margin-left: 20px;
    font-size: 17px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

/* Dropdown Base */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    color: #006400;
    min-width: 180px;
    border-radius: 5px;
    padding: 10px 0;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-menu li a {
    pointer-events: auto;
}

.dropdown-menu li {
    width: 100%;
    margin: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: #006400;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background: #e6ffe6;
}
/* Hero Section */
.hero {
    height: 80vh;
    background: url('images/lanscape.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.search-container {
    text-align: center;
    margin-top: 40px;
}

.search-container h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #fff;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input {
    width: 50%;
    padding: 12px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 30px 0 0 30px;
    outline: none;
}

.search-box button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #e57c00;
}

.results-box {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: none;
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 30px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid black;
    transition: 0.3s;
}

.btn:hover {
    background-color: #088178;
}

/* Attractions Section */
.attractions {
    padding: 50px;
    text-align: center;
    background-color: #f2f2f2;
}

.attractions h2 {
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    color: #333;
}

/* Footer */
footer {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 20px;
}